<!DOCTYPE>
<html>
    <head>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td>
                                    <a href="#summary" ng-click="sortType = 'site'; sortReverse = !sortReverse; loadData();">
                                    Site
                                    <span ng-show="sortType == 'site' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'site' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#summary" ng-click="sortType = 'username'; sortReverse = !sortReverse; loadData();">
                                    Username
                                    <span ng-show="sortType == 'username' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'username' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    Password
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="entry in data">
                                <td>{{ entry.site }}</td>
                                <td>{{ entry.username }}</td>
                                <td>
                                    <button popover-placement="right" uib-popover="{{calculatePassword(entry)}}" class="btn btn-primary btn-sm">Show Password</button>
                                    <button class="btn btn-primary btn-sm" ng-click="copyPassword(entry)">Copy Password</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <button class="pull-left btn btn-primary" ng-click="import()">Import</button>
                </div>
                <div class="col-xs-6">
                    <div class="text-center">
                        <ul uib-pagination ng-change="loadData()" total-items="totalItems" ng-model="currentPage" max-size=5 items-per-page="itemsPerPage" class="pagination-sm" boundary-links="true" force-ellipses="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                    </div>
                </div>
                <div class="col-xs-3">
                    <button class="pull-right btn btn-primary" ng-click="export()">Export</button>
                </div>
            </div>
        </div>
    </body>
</html>
